body {
    filter: invert(1);  
}
/* この設定を入れないとbodyのbackground-colorのinvertが反映されない。色は何でもいい */
html{
    background-color: red;
}
/*
/* 2023/11/11 以下コメント化
/*
/* ヘッダー部全体の色を反転 */
#docs-chrome {
    background-color: white;
    filter: invert(1);
}
/* アイコンの色を反転して元に戻す */
/* GASのロゴ */
#docs-branding-container {
    filter: invert(1);
}
/* Shareボタン */
#docs-titlebar-share-client-button {
    filter: invert(1);
}

/* リソースリストの色（背景、文字） */
.workspace .resource-list {
    filter: invert(1);
}

/* リソースリストとエディタの仕切りの色 */
.workspace .gwt-SplitLayoutPanel-HDragger {
    filter: invert(1);
}

/* エディタ背景色を設定 */
.workspace {
    background-color: black;
}
/* エディタの文字色 */
.editor {
    filter: invert(1);
}
2023/11/11 */